@import "tailwindcss";

:root{
  --r:#E60023;
  --r2:#C4001D;
  --rosa:#FFD6E2;
  --arena:#F5EFE7;
  --azul:#6BC5E2;
  --negro:#111111;
  --w:#fff;
}

*,
*::before,
*::after{
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  color:var(--negro);
  background:#fff;
  overflow-x:hidden;
  cursor:default;
}

a{
  color:inherit;
  text-decoration:none;
}

button{
  font-family:Arial, Helvetica, sans-serif;
  cursor:pointer;
}

img{
  max-width:100%;
}